# See doc/test-coverage.md for more information
# cd airtable-sync
# coverage run -m unittest discover -s test -v && coverage html
[run]
branch = True
source = src/airtable_sync
data_file = .coverage/.coverage

[report]
exclude_lines =
    pragma: no cover
    if __name__ == '__main__':
    
include = src/airtable_sync/**/*.py

omit =
    */test/*
    */.venv/*

show_missing = True

[html]
directory = .coverage/html

[paths]
source =
    src
