.DS_Store
*.pyc
*.pyo
*.swp
.env
.idea
.python-version
.secrets
.venv/
.vscode/
__pycache__/

# Ignore build and distribution directories
build/
dist/
*.egg-info/

# Ignore live configuration file in use
config.json
# Allow config.json in .github/workflows
!.github/workflows/config.json

# Ignore Python test artifacts
.tox/
tox.ini

# Ignore test coverage reports
.coverage/