# Include all Python package files and JSON files
include src/airtable_sync/**/*.py

# Include example config file
include config.json

# Include README and CHANGELOG files
include README.md
include CHANGELOG.md

# Include any documentation files
recursive-include doc *

# Include requirements.txt
include requirements.txt

# Include scripts from the release folder
include release/build_package.sh
